.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 2;
}

.container {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.link{
    display: flex;
    gap: 20px;
}

.item {
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

.item:hover {
    color: #f9b17a;
}

.login{
    padding: 5px 10px;
    border: none;
    color: black;
    background-color: #f9b17a;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}