.section1{
    display: flex;
    margin-bottom: 130px;
}

.home {
    width: 40%;
    height: 100%;
    margin: 80px 0px 0px 60px;
}

.home h3 {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 2px;
    color: #F9B17A;
}

.home p {
    margin-bottom: 10px;
    font-size: 18px;
}

.imageHome {
    position: absolute;
    top: 85px;
    left: 670px;
    transform: rotate(-20deg);
    opacity: 0.7;
    z-index: 1;
}

.section2 {
    margin-top: 450px;
}