.section1{
    display: flex;
    margin-bottom: 130px;
}

.home {
    width: 40%;
    height: 100%;
    margin: 80px 0px 0px 60px;
}

.home h3 {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 2px;
    color: #F9B17A;
}

.paragraph {
    margin: 10px;
    font-size: 18px;
}

.imageHome {
    position: absolute;
    top: 85px;
    left: 670px;
    transform: rotate(-20deg);
    opacity: 0.7;
    z-index: 1;
}

.section2 {
    margin-bottom: 50px;
}

.section2 h3{
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #F9B17A;
}

.section2 .paragraph{
    margin: auto;
    width: 80%;
    text-align: justify;
}

.section3 {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: whitesmoke;
    margin-bottom: 50px;
}

.section3 i {
    margin-bottom: 8px;
}

.iconSolid {
    padding: 10px 15px;
    border-radius: 7px;
    background-image: url("/solid.jpg");
}

.iconFluid {
    padding: 10px 19px;
    border-radius: 7px;
    background-image: url("/fluid.jpg");
}

.iconSolid:hover {
    color: #F9B17A;
}

.iconFluid:hover {
    color: #F9B17A;
}